<template name="add">
    {{#if currentUser}}
    <fieldset>
        <form>
            <h4 class="text-center">Add new pin</h4>
            <div class="col-lg-10">
                <input class="form-control" type="text" name="title" placeholder="title" />
            </div>
            <div class="col-lg-10">
                <input  class="form-control" type="text" name="url" placeholder="url" />
            </div>
            <div class="col-lg-10">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </form>
    </fieldset>
    {{else}}
    {{> alert}}
    {{/if}}
</template>
