<template name="nav">
    <nav class="navbar navbar-inverse " role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Niptech</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{#each routes}}
                <li>
                    <a href="{{url}}">{{desc}}</a>
                </li>
                {{/each}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons align="right"}}
            </ul>
        </div>
    </nav>
</template>
